#square{
    background: lightblue;
    width: 100%;
    height: 100%;
}

.box{
    width: 100px;
    height: 100px;
}

:root{
    --colore-principale: red;
    --paddin-principale: 30px;

}

html{
    color: var(--colore-principale)
}

div{
    padding: var(--paddin-principale);
}

